In [1]:
print("Hello wine!")

Hello wine!

In [3]:
import pandas as pd

df = pd.read_csv('winemag-data-130k-v2.csv')
df = df.drop(columns=['Unnamed: 0'])
df
df.columns.shape

(13,)

In [10]:
print(df.country.value_counts().shape)
df.country.value_counts()

(43,)

US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Serbia                       12
Macedonia                    12
Czech Republic               12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Bosnia and Herzegovina        2
Armenia                       2
Egypt                         1
Slovakia                      1
China                         1
Name: country, dtype: int64

df.description.value_counts().shape

In [12]:
print(df.designation.value_counts().shape)
df.designation.value_counts()

(37979,)

Reserve                      2009
Estate                       1322
Reserva                      1259
Riserva                       698
Estate Grown                  621
                             ...
Follies Quinta da Agueira       1
Podere dei Blumeri              1
La Sonrisa de Tares             1
Renner Erste Lage Reserve       1
Riserva Romeo                   1
Name: designation, Length: 37979, dtype: int64

In [14]:
df.points.value_counts().sort_values()

100       19
99        33
98        77
97       229
80       397
96       523
81       692
95      1535
82      1836
83      3025
94      3758
84      6480
93      6489
85      9530
92      9613
91     11359
89     12226
86     12600
90     15410
87     16933
88     17207
Name: points, dtype: int64

In [25]:
print(df.price.value_counts().shape)
print(df.price.min())
print(df.price.max())

(390,)
4.0
3300.0

In [29]:
df.province.value_counts()

California                   36247
Washington                    8639
Bordeaux                      5941
Tuscany                       5897
Oregon                        5373
                             ...
Muzla                            1
Elazığ-Diyarbakir                1
Ceres Plateau                    1
Alenteo                          1
Middle and South Dalmatia        1
Name: province, Length: 425, dtype: int64

In [30]:
df.region_1.value_counts()

Napa Valley                        4480
Columbia Valley (WA)               4124
Russian River Valley               3091
California                         2629
Paso Robles                        2350
                                   ...
Offida Rosso                          1
Côtes de Forez                        1
Colline Lucchesi                      1
Sonoma-Santa Barbara-Mendocino        1
Langhorne Creek-Limestone Coast       1
Name: region_1, Length: 1229, dtype: int64

In [32]:
df.region_2.value_counts()

Central Coast        11065
Sonoma                9028
Columbia Valley       8103
Napa                  6814
Willamette Valley     3423
California Other      2663
Finger Lakes          1777
Sierra Foothills      1462
Napa-Sonoma           1169
Central Valley        1062
Southern Oregon        917
Oregon Other           727
Long Island            680
North Coast            584
Washington Other       534
South Coast            272
New York Other         231
Name: region_2, dtype: int64

In [33]:
df.taster_name.value_counts()

Roger Voss            25514
Michael Schachner     15134
Kerin O’Keefe         10776
Virginie Boone         9537
Paul Gregutt           9532
Matt Kettmann          6332
Joe Czerwinski         5147
Sean P. Sullivan       4966
Anna Lee C. Iijima     4415
Jim Gordon             4177
Anne Krebiehl MW       3685
Lauren Buzzeo          1835
Susan Kostrzewa        1085
Mike DeSimone           514
Jeff Jenssen            491
Alexander Peartree      415
Carrie Dykes            139
Fiona Adams              27
Christina Pickard         6
Name: taster_name, dtype: int64

In [34]:
df.title.value_counts()

Gloria Ferrer NV Sonoma Brut Sparkling (Sonoma County)                                                  11
Korbel NV Brut Sparkling (California)                                                                    9
Segura Viudas NV Extra Dry Sparkling (Cava)                                                              8
Segura Viudas NV Aria Estate Extra Dry Sparkling (Cava)                                                  7
Ruinart NV Brut Rosé  (Champagne)                                                                        7
                                                                                                        ..
Cascina Luisin 2009 Sorì Paolin  (Barbaresco)                                                            1
Toffoli 2011 Rive di Refrontolo Millesimato Extra Dry  (Conegliano Valdobbiadene Prosecco Superiore)     1
Foris 2011 Riesling (Rogue Valley)                                                                       1
Château La Conseillante 2009  Pomerol                                                                    1
Daou 2014 Unbound Red (Paso Robles)                                                                      1
Name: title, Length: 118840, dtype: int64

In [35]:
df.variety.value_counts()

Pinot Noir                  13272
Chardonnay                  11753
Cabernet Sauvignon           9472
Red Blend                    8946
Bordeaux-style Red Blend     6915
                            ...
Merlot-Argaman                  1
Blauburgunder                   1
Dafni                           1
Ondenc                          1
Tinta Amarela                   1
Name: variety, Length: 707, dtype: int64